body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  padding-top: 40px
}

/* so the react router doesn't turn it into hyperlinks */
.router-link{
  text-decoration: none;
  color: black;
}

/* Nav */
nav{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 5px;
}

/* Products */
#products-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* for title */
  white-space: pre-wrap;
}

.product-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}

.productText {
  flex: wrap;
  text-align: center;
}

/* Product view */
.product-detail{
  white-space: pre-wrap;
}

/* temp for ease of editing */
/* .product, img{
  border: 1px black solid;
} */

/* MEDIA QUERIES */

/* tablet */
@media only screen and (min-width: 568px) and (max-width: 834px) {
  body{
    font-size: 0.9em;
  }

  .prodImg{
    width: 160px;
  }
}

/* mobile */
@media only screen and (max-width: 568px) {
  body{
    font-size: 0.8em;
  }

  .prodImg{
    width: 130px;
  }
}