body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1em;
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
}

/* buttons */
.pagination-button, .back-button{
  background-color: black;
  color: white;
  border-radius: 0%;
  font-size: 1em;
  padding: 5px 8px;
}

.pagination-button:disabled, .back-button:disabled{
  background-color: #606060;
  color: whitesmoke;
  border-radius: 0%;
  font-size: 1em;
  padding: 5px 8px;
}

/* so the react router doesn't turn it into hyperlinks */
.router-link{
  text-decoration: none;
  color: black;
}

/* MEDIA QUERIES */

/* tablet */
@media only screen and (min-width: 568px) and (max-width: 834px) {
  body{
    font-size: 0.9em;
  }
  #products-container {
    padding-top: 60px;
  }
  .prodImg{
    width: 160px;
  }
  /* PDP */
  .product-detail{
    grid-template-columns: auto;
  }
}

/* mobile */
@media only screen and (max-width: 568px) {
  body{
    font-size: 0.8em;
  }
  #products-container {
    padding-top: 80px;
  }
  .prodImg{
    width: 130px;
  }
  .product-detail{
    grid-template-columns: auto;
  }
}

/* desktop */
@media only screen and (min-width: 835px) {
  .image-large{
    margin-top: 30px;
    grid-row-start: 1;
    grid-row-end: 11;
  }  
}